<section id="profilecontrol">

    <div class="container">

           

<h3> NG-BASE </h3>

<hr />

<p>es una base estructurada de AngularJS, con herramientas avanzadas de validación de formularios, rutas, servicios de lenguaje 
y carga de datos Json para una fácil conexión con el backend.
</p>

<h3>Uso</h3>
<hr />

<p>

<strong>La configuración inicia desde 'app.js'</strong> <br /><br />

<i>
&nbsp;&nbsp;&nbsp;$rootScope.defaultData = {<br /><br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;lang : 'en',<br /><br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;api  : 'json',<br /><br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;slug : '/'<br /><br />

&nbsp;&nbsp;&nbsp;};
</i>
</p>

<p>

Se puede configurar el lenguaje que se usara por defecto 'en,es', el link de la API a la cual se conectara y el url base de host si es necesario.

</p>

<p>

En la carpeta de servicios se encuentra 'lang.js' donde esta el objeto para todos los mensajes de las directivas e información de las vistas.<br /><br />

</p>

<p>

<strong>En route provider configuras las ruta con su vista y controlador.</strong>

</p>

<i>
&nbsp;&nbsp;&nbsp;App.config(function($routeProvider) {<br /><br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$routeProvider<br /><br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.when('/login', {<br /><br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;templateUrl: 'app/views/login.html',<br /><br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;controller: 'loginCtrl'<br /><br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}).....<br /><br />
</i>

En la vista de "register.html" se encuentra la estructura de la directiva para todo tipo de campos de formulario con validación dinámica.

</p>

<p>

    < field>< /field >" para input tipo text, number, email, select y textarea<br /><br />

    < password >< /password > para el campo de password, usando el parametro match='modelo a comparar' valida que la clave coincida con la confirmación<br /><br />

    < field type="select" options='array' >< /field > para armar el campo select predeterminas un arreglo de objetos con 'text :' y 'value :' esta estructura se puedes observar en el servicio de 'lang.js' en registerConfig, en el campo 'level:' <br /><br />

    < raios >< /radios > al igual que en los 'select' en el parámetro options='' se le predetermina el array con las opciones para los radio buttons.<br /><br />

<p>

<h3>Herramientas</h3>

<hr />

<p>

La base incluye una serie de servicios útiles para lectura y envíos de json, ademas de controladores para login y registro de usuario pre-configurados.
</p>

<h3> Creditos </h3>
<hr />

<p>

<strong>Ronal Coello  @roncreative</strong><br /><br />

Servicio de lenguaje, estructura de vistas, programación directavia de password, servicios de lecturas y envíos json, controladores, fixes actualización de librerías de angularJS, integración de bootstrap, mejora de mensajes de error con soporte de lenguajes. 

</p>

<hr />

<p>

<strong>Duilio Palacios</strong><br /><br />

Estructura principal, configuración 'app.js', programación del servicio 'field-builder.js', directivas 'field, radios'

</p>

<hr />




        </div>

    </div>

</section>



